@import 'styles/Palette/Palette.scss';

@mixin textEllipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ProjectsCard {
	width: 430px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;
	justify-content: center;
	word-break: break-all;
	white-space: pre-wrap;
	padding: 1rem 1.7rem;
	margin: 5px 1rem;
	margin-bottom: 2rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 30, 0.4), -2px -2px 5px rgba(0, 0, 30, 0.4);
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	color: var(--contrast);
	border-radius: 25px;
	cursor: pointer;

	&:hover {
		margin-top: -10px;
	}

	&-Types {
		font-size: 22px;
	}

	&-Thumbnail {
		width: 100%;
		height: 250px;
		max-height: 250px;
		border-top: 2px solid var(--gray);
		border-bottom: 2px solid var(--gray);
		padding: 10px 0;
		margin: 5px 0;
		object-fit: scale-down;
	}

	&-NamePeriod {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;

		&-Name {
			max-width: 100%;
			font-size: 20px;
		}

		&-Period {
			color: var(--purple);
			font-size: 13px;
		}
	}

	&-Stacks {
		max-width: 100%;
		color: var(--blue);
		font-size: 14px;
		border-bottom: 1px solid var(--lighterGray);
		margin-bottom: 8px;
		padding-bottom: 8px;
		@include textEllipsis();
	}
}
