.Projects {
    width: 100%;
    &-Grid {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;

        & > * {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
}