@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

.Projects {
    width: 100%;
    max-width: 1400px;
    &-Grid {
        flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
}