@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
}

@mixin iconWrapperStyle() {
	width: 100px;
	@include flexStyle();
	justify-content: center;
	align-items: center;
}

@mixin iconStyle($color) {
	color: $color;
	font-size: 40px;
}

@mixin progressWrapperStyle() {
	width: 90%;
	height: 30px;
	background-color: $gray;
	border-radius: 5px;
}

@mixin progressBarStyle($width, $background) {
	width: $width;
	height: 30px;
	background-image: linear-gradient(
		50deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);

	background-color: $background;
	border-radius: 3px;
}

.StackItem {
	color: $white;

	&-Wrapper {
		@include flexStyle();
		align-items: center;
		padding-right: 1rem;
		margin: 15px 0;

		&-Icon {
			@include iconWrapperStyle();

			&-Java {
				@include iconStyle($red);
			}

			&-HTML {
				@include iconStyle($orange);
			}

			&-CSS {
				@include iconStyle($skyBlue);
			}

			&-JavaScript {
				@include iconStyle($yellow);
			}

			&-TypeScript {
				@include iconStyle($white);
				background-color: $primary;
				border-radius: 5px;
			}

			&-React {
				@include iconStyle($skyBlue);
			}

			&-Sass {
				@include iconStyle($pink);
			}

			&-Recoil {
				@include iconStyle($blue);
			}

			&-Vue {
				@include iconStyle($green);
			}

			&-Express {
				@include iconStyle($green);
			}
		}

		&-ProgressWrapper {
			@include progressWrapperStyle();

			&-CBar {
				@include progressBarStyle(55%, $primary);
			}

			&-JavaBar {
				@include progressBarStyle(70%, $red);
			}

			&-HTMLBar {
				@include progressBarStyle(95%, $orange);
			}

			&-JavaScriptBar {
				@include progressBarStyle(95%, $yellow);
			}

			&-TypeScriptBar {
				@include progressBarStyle(95%, $primary);
			}

			&-ReactBar {
				@include progressBarStyle(90%, $primary);
			}

			&-MobXBar {
				@include progressBarStyle(85%, $orange);
			}

			&-RecoilBar {
				@include progressBarStyle(68%, $blue);
			}

			&-ReduxBar {
				@include progressBarStyle(68%, $purple);
			}

			&-VueBar {
				@include progressBarStyle(35%, $green);
			}

			&-SassBar {
				@include progressBarStyle(90%, $pink);
			}

			&-NextBar {
				@include progressBarStyle(75%, $blue);
			}

			&-ExpressBar {
				@include progressBarStyle(70%, $green);
			}

			&-TypeORMBar {
				@include progressBarStyle(70%, $blue);
			}

			&-NestBar {
				@include progressBarStyle(35%, $pink);
			}
		}
	}
}
