@import 'styles/Palette/Palette.scss';

@font-face {
	font-family: 'NanumSquare';
	src: url('../assets/fonts/NanumSquareRoundB.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NanumSquare';

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: $white;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $blue;
	}

	&::-webkit-scrollbar-button:start:decrement,
	&:-webkit-scrollbar-button:end:increment {
		width: 14px;
		height: 14px;
		background-color: $blue;
	}
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: $black;
}

body {
	line-height: 1.34;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

td {
	vertical-align: middle;
}
