@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	width: 800px;
	height: 70%;
	padding: 15px 20px;
	overflow-x: hidden;
	overflow-y: auto;

	@media screen and (max-width: 880px) {
		width: 500px;
	}

	@media screen and (max-width: 550px) {
		width: 350px;
	}

	&-Wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
	}

	&-Top {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		border-bottom: 1px solid $gray;
		padding-bottom: 2px;

		&-TopWrapper {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;

			&-TitleWrapper {
				display: flex;
				display: -webkit-flex;
				flex-wrap: wrap;
				align-items: flex-end;

				&-Period {
					margin-bottom: 4px;
					font-size: $font_14;
				}

				&-Title {
					font-size: $font_25;
					margin-right: 8px;
				}
			}

			&-Close {
				font-size: $font_30;
				color: $primary;
				cursor: pointer;
			}
		}

		&-StackWrapper {
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 5px 0;

			&-Stack {
				margin-right: 10px;
				border: 1px solid $gray;
				border-radius: 25px;
				padding: 3px 10px;
				margin: 2px;
				vertical-align: middle;
			}
		}
	}

	&-Contents {
		margin-top: 10px;
	}
}
