.Stacks {
	color: var(--contrast);

	&-Top {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		border-bottom: 1px solid var(--contrast);
		padding-bottom: 8px;

		&-Icon {
			font-size: 30px;
		}

		&-Title {
			margin-left: 6px;
			font-size: 25px;
		}
	}
}
