@import 'styles/Palette/Palette.scss';

.Stacks {
	color: $white;

	&-Top {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		border-bottom: 1px solid $white;
		padding-bottom: 8px;

		&-Icon {
			font-size: 30px;
		}

		&-Title {
			margin-left: 6px;
			font-size: 25px;
		}
	}
}
