@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

.NavBar {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darken($navbar, 10%);
    color: $white;

    &-Contents {
        width: 100%;
        max-width: 1400px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0 5px;

        &-CurrentItem {
            border-bottom: 5px solid $blue;
            border-radius: 5px;
            font-size: 25px;
        }

        & > * {
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            list-style: none;
            padding: 10px 0;
        }    
    }
}