@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

@mixin buttonStyle($background, $color) {
  background-color: $background;
  color: $color;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.65;
  }
}

.Contact {
  width: 100%;
  height: 100%;
  display: flex;
  display: -wekbit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $blue;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  color: $white;
  padding-left: 2px;

  &-Title {
    width: 300px;
    font-size: $font_25;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid $white;
  }

  &-Contents {
    color: $gray;
    font-weight: bold;
    font-size: $font_20;
    line-height: 30px;
  }

  &-Buttons {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;

    & > * {
      width: 220px;
      height: 100%;
      border: none;
      border-radius: 5px;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      padding: 12px 0;
      font-size: $font_25;
      margin-left: 10px;
      cursor: pointer;
    }

    &-Facebook {
      @include buttonStyle($primary, $white);
    }

    &-Gmail {
      @include buttonStyle($red, $white);
    }

    &-RocketPunch {
      @include buttonStyle($blue, $white);
    }
  }
}