@mixin selectedStyle() {
	color: var(--white);
	background-color: var(--blue);
}

.History {
	width: 100%;
	height: 100%;

	&-Top {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		display: -webkit-flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10px;

		&-SelectZone {
			display: flex;
			display: -webkit-flex;
			align-items: center;

			& > button {
				width: 80px;
				height: 35px;
				margin-left: 4px;
				border: none;
				border-radius: 5px;
				outline: none;
				transition: 0.15s ease-in;
				-webkit-transition: 0.15s ease-in;
				cursor: pointer;

				&:hover {
					@include selectedStyle();
				}
			}

			&-Selected {
				@include selectedStyle();
			}
		}
	}
}

.vertical-timeline::before {
	background: var(--contrast) !important;
}

.vertical-timeline-element-date {
	color: var(--contrast);
}
