@mixin arrowStyle() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--gray);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  z-index: 4;

  &:hover {
    opacity: 0.8;
  }
}

.ProjectModal {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  color: var(--contrast);

  &-LeftArrow {
    @include arrowStyle();
    left: 0;
  }

  &-RightArrow {
    @include arrowStyle();
    right: 0;
  }

  &-DotWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    display: -webkit-flex;
    z-index: 3;

    &-Dot {
      width: 12px;
      height: 12px;
      border: none;
      outline: none;
      background-color: var(--gray);
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--blue);
      }

      &-Current {
        background-color: var(--blue);
      }
    }
  }

  &-Image {
    max-width: 100%;
    min-height: 380px;
    max-height: 380px;
    display: block;
    margin: 0 auto;
    object-fit: fill;
    padding: 10px 0;
    cursor: pointer;
    z-index: 2;
  }

  &-Select {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 0.5rem;

    &-Selected {
      color: var(--blue);
    }

    & > div:last-child {
      border: none;
    }

    & > * {
      border-right: 1px solid var(--blue);
      padding: 0 6px;
      margin: 2px 0;
      cursor: pointer;

      @media screen and (max-width: 550px) {
        font-size: 14px;
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  &-Contents {
    word-break: break-all;
    border-top: 1px solid var(--gray);
    line-height: 30px;
    padding: 3px 10px;
    margin-top: 3px;
    padding-top: 5px;
  }
}

.lazy-load-image-background {
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}
