@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

.Footer {
	text-align: center;
	background-color: darken($navbar, 10%);
	padding: 2rem 0;
	font-size: 1.5rem;
	color: $white;
}
