@import 'styles/Palette/Palette.scss';
@import 'styles/Fonts/FontScheme.scss';

.AboutMe {
	color: $white;
	max-width: 1400px;
	border-bottom: 3px solid $blue;
	padding-bottom: 1rem;

	&-Wrapper {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 930px) {
			display: flex;
			display: -webkit-flex;
			justify-content: center;
		}

		& > * {
			margin-bottom: 12px;
		}

		&-Image {
			width: 450px;
			max-width: 450px;
			height: 420px;
			max-height: 420px;
		}

		&-SubTitle {
			line-height: 2.2rem;
			font-size: $font_20;
		}

		&-Introduction {
			margin: 12px 0;
			font-size: $font_25;
			color: $blue;
		}

		&-ContentsWrapper {
			padding-left: 10px;

			@media screen and (max-width: 930px) {
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				-ms-flex-direction: column;
				align-items: center;
			}

			&-Contents {
				font-size: 4rem;
			}

			&-Github {
				display: flex;
				display: -webkit-flex;
				justify-content: space-around;
				outline: none;
				border: 1px solid $white;
				border-radius: 5px;
				padding: 8px 10px;
				background-color: $black;
				color: $white;
				font-size: $font_25;
				cursor: pointer;
				transition: 0.2s ease;
				-webkit-transition: 0.2s ease;

				&:hover {
					background-color: $white;
					color: $black;
				}
			}
		}
	}
}
